/* event-form.component.scss */

/* Conteneur du formulaire */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  /* Style des étiquettes */
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style des champs de saisie et des zones de texte */
  input[type="text"],
  input[type="date"],
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
  
    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
  
  /* Style du bouton de soumission */
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
  
    &:hover {
      background-color: #0056b3;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  
  /* Styles supplémentaires pour améliorer l'apparence générale */
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }  